<html>
    <script src="vue.min.js"></script>
    <body>
        <div id="app">
            <div>{{message}}</div>
            <ui>
                <li v-for="tmp in liAry">
                    {{tmp}}
                </li>
            </ui>
            <table>
                <tr v-for="(tmpValeu,tmpKey,tempIndex) in tdMap">
                    <td>
                            {{tempIndex}}
                    </td>
                    <td>
                            {{tmpKey}}
                    </td>
                    <td>
                            {{tmpValeu}}
                    </td>
                </tr>
            </table>
        </div>

        <script>
            var app = new Vue({
                el:"#app",
                data:{
                    message:"hello Vue.js",
                    liAry:["l1","l2","l3","l4","l5","l6","l7"],
                    tdMap:{
                        "name":"name",
                        "sex":"sex",
                        "age":"age",
                        "score":"score"                        
                    }
                }
            })
        </script>

        <div id="vueDetail">
            <h1>sit:{{sit}}</h1>
            <h1>name:{{name}}</h1>
            <h1 v-html="htmlMsg"></h1>      
            <h1>methods.detail:{{detail()}}</h1>      
        </div>
        <script>
            var vueDetail = new Vue({
                el:"#vueDetail",
                data:{
                        sit:"sit Value",
                        name:"sit name",
                        htmlMsg:"<p><b>wwwwwwwwww</b></p>"
                },
                methods:{
                    detail:function(){
                        return this.sit + this.name;
                    }
                }
            });
        </script>
    </body>

</html>